<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Búsqueda</title>
</head>
<body>
    <div id="resultados">
        <h2>Restaurantes Encontrados</h2>
        <ul>
            <th:block th:each="restaurante : ${restaurantes}">
                <li th:text="${restaurante.nombre} + ' - ' + ${restaurante.direccion}"></li>
            </th:block>
        </ul>
    </div>
</body>
</html>