body {
    font-family: Arial, sans-serif;
    background-color: #fab802; /* Color amarillo mostaza */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.home-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 20px;
}

button {
    cursor: pointer;
    background-color: #000; /* Botones negros */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 8px; /* Botones redondeados */
    padding: 10px 20px;
}

button[onclick="location.href='/login'"] {
    position: absolute;
    top: 20px;
    right: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    width: 100%;
}

.search-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px; /* Redondeado */
    outline: none;
    width: 700px; /* Más largo */
    margin-right: -1px; /* Elimina el doble borde entre input y botón */
}

.search-container button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 0 20px 20px 0; /* Redondeado */
    background-color: #000; /* Botones negros */
    color: white; /* Texto blanco */
    cursor: pointer;
}

.header-section {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.header-section img {
    display: block;
    margin: 0 auto;
    max-width: 350px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}

.header-section h1 {
    font-size: 2.5em; /* Tamaño de letra más grande */
    font-weight: bold;
    color: #000;
    margin-bottom: 40px; /* Más espacio entre el título y el texto de restaurantes destacados */
}

.featured-restaurants {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.featured-restaurants h2 {
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    color: #000;
}

.restaurant {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 220px; /* Ajusta el ancho según sea necesario */
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant h3 {
    font-size: 1.2em;
    margin-bottom: 8px;
    color: #333;
}

.restaurant p {
    font-size: 1em;
    color: #666;
    margin-bottom: 15px;
}

button {
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333;
}


.btn-logout {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #000; /* Botones negros */
    color: #fff; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.btn-logout:hover {
    background-color: #d32f2f; /* Color de fondo del botón al pasar el ratón */
}

.cta {
    position: fixed;
    top: 20px;
    right: 20px;
    margin: 0;
    padding: 10px 15px;
    transition: all 0.2s ease;
    text-decoration: none;
}
.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 20px;
    background: rgba(227, 103, 2, 0.945);
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}
.cta span {
    position: relative;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    vertical-align: middle;
    color: #000; /* Texto negro */
}
.cta svg {
    position: relative;
    top: 0;
    margin-left: 5px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000000;
    stroke-width: 2;
    transform: translateX(-3px);
    transition: all 0.3s ease;
}
.cta:hover:before {
    width: 100%;
    background: rgba(255, 116, 3, 0.945);
}
.cta:hover svg {
    transform: translateX(0);
}
.cta:active {
    transform: scale(0.96);
}

/* Custom styles for restaurant list */
#listaFavoritos, #resultadosBusqueda ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    text-align: center; /* Center the list items */
}

#listaFavoritos li, #resultadosBusqueda ul li {
    font-size: 1.2em; /* Increase font size for restaurant names */
    margin-bottom: 10px;
}

#listaFavoritos button, #resultadosBusqueda ul button {
    background-color: #000000; /* Blue background */
    color: #fff; /* White text */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}

#listaFavoritos button:hover, #resultadosBusqueda ul button:hover {
    background-color: #096401; /* Darker blue on hover */
}

#listaFavoritos .btn-eliminar-favorito:hover {
    background-color: #d32f2f; /* Rojo al pasar el ratón */
}

#resultadosBusqueda {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the search results */
    width: calc(100% -50px);
    margin-top: 20px;
    background-color: #fa9302; /* Fondo naranja */
    border-radius: 8px; /* Esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 20px; /* Espaciado interno */
}