body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #ffc244;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilo para la página de inicio (home) */
.home-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 20px;
}

/* Botón en la página de inicio (home) ajustado al tamaño del texto */
.home-container button {
    width: auto; /* Ajusta el ancho al contenido del texto */
    padding: 10px 20px; /* Agrega un poco de padding horizontal extra */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-container button:hover {
    background-color: #0056b3;
}


form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    width: 100%; /* Asegura que el formulario ocupe todo el ancho del contenedor */
}

label {
    margin-bottom: 5px;
    color: #000000;
    width: 100%; /* Asegura que las etiquetas ocupen todo el ancho del contenedor */
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Asegura que los inputs ocupen todo el ancho del contenedor */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Asegura que el botón ocupe todo el ancho del contenedor */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    text-align: center; /* Centra el texto dentro del botón */
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: rgb(113, 2, 2);
    text-align: center;
    margin-top: 10px;
}

.message {
    text-align: center;
    color: #333;
}

/* Estilo para el botón de cierre de sesión */
.btn-logout {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-logout:hover {
    background-color: #c82333;
}


button, .btn-logout {
    background-color: black; /* Fondo de los botones en negro */
    color: white; /* Texto de los botones en blanco */
    width: 300px;
    display: block; /* Asegura que el botón ocupe toda la línea */
    margin: 0 auto; /* Centra el botón horizontalmente */
    margin-bottom: 20px;
}

button:hover, .btn-logout:hover {
    background-color: #333; /* Fondo de los botones en gris oscuro al pasar el ratón */
}

a {
    color: #036b20; /* Color de los enlaces en negro */
    text-decoration: underline; /* Subrayado de los enlaces */
}

a:hover {
    color: #06bb3c; /* Color de los enlaces en gris oscuro al pasar el ratón */
}
input[type="text"],
input[type="password"]{
    width: 295px;
}

footer{
    margin-top: 20px;
    text-align: center;
}

h1{
    text-align: center;
    margin-bottom: 50px;
}

h2{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
}
h3{
    margin-bottom: 20px;
}

h4{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}


ul{
    list-style-type: none; /* Elimina los puntos de la lista */
}

li{
    margin-bottom: 40px;
}

#carrito p {
    text-align: center;
}

#restauranteInfo p{
    text-align: center;
}

.btn-volver {
    position: fixed;
    top: 15px;
    left: 15px;
    padding: 10px 15px;
    background-color:#000; /* Color de fondo azul */
    color: #fff; /* Texto en blanco */
    border: none;
    border-radius: 40px;
    width: 70px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: background-color 0.3s ease; /* Transición para el efecto hover */
}

.btn-volver:hover {
    background-color: #333; /* Cambio de color al pasar el ratón */
}

.cta {
    position: fixed;
    top: 20px;
    right: 20px;
    margin: 0;
    padding: 10px 15px;
    transition: all 0.2s ease;
    text-decoration: none;
    width: 108px;
    background-color: transparent;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 5px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000000;
    stroke-width: 2;
    transform: translateX(-3px);
    transition: all 0.3s ease;
}
.cta:hover:before {
    width: 100%;
    background: rgba(255, 116, 3, 0.945);
}
.cta:hover svg {
    transform: translateX(0);
}
.cta:active {
    transform: scale(0.96);
}
.cta:hover{
    background-color: transparent;
}


/* Ocultar los modales inicialmente */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Posición fija para centrar en la pantalla */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    animation: fadeIn 0.5s; /* Animación de aparición */
}

/* Centrar el contenido del modal */
.modal-content {
    background-color:#ffc244; /* Fondo naranja */
    margin: 3% auto; /* Centrado vertical y horizontal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
    height: 80%; /* Altura del modal */
    overflow-y: auto;
    max-width: 600px; /* Ancho máximo del modal */
    border-radius: 8px; /* Bordes redondeados */
    animation: slideIn 0.5s; /* Animación de aparición */
}


.modal-content h2 {
    text-align: center; /* Centra el título */
    width: 100%; /* Asegura que el título ocupe todo el ancho */
}

.modal-content h3 {
    text-align: center; /* Centra el título */
    width: 100%; /* Asegura que el título ocupe todo el ancho */
}

.modal-content form label {
    display: block; /* Asegura que el label esté en una línea aparte */
}

.modal-content form input[type="text"], .modal-content form input[type="number"]{
    width: 95%; /* Asegura que el input/selección ocupe todo el ancho de su columna */
    padding: 5px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde gris */
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal-content form select{
    width: 97%; /* Asegura que el input/selección ocupe todo el ancho de su columna */
    padding: 5px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde gris */
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal-content button {
    background-color: #000; /* Botones negros */
    color: #fff; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 8px; /* Bordes redondeados */
    display: block; /* Asegura que el botón esté en una línea aparte */
    margin: 20px auto; /* Centra el botón horizontalmente y añade margen vertical */
    text-align: center; /* Centra el texto dentro del botón */
}

.modal-content ul {
    list-style-type: none; /* Elimina los puntos de la lista */
}

.modal-content li{
    margin-bottom: 10px;
}

.modal-content li input[type="checkbox"] {
    transform: scale(1.5); /* Ajusta el valor según el tamaño deseado */
    align-items: center;
}

.modal-content form .btn-delete {
    background-color: #000; /* Botones negros */
    color: #fff; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 5px 10px; /* Reduce el espaciado interno del botón */
    border-radius: 8px; /* Bordes redondeados */
    display: block; /* Asegura que el botón esté en una línea aparte */
    margin: 10px auto; /* Reduce el margen */
    text-align: center; /* Centra el texto dentro del botón */
    width: 150px; /* Ajusta el ancho del botón */
    height: 35px;
    font-size: 0.8em; /* Ajusta el tamaño de la fuente */
    font-weight: normal;
    text-transform: none;
}

.modal-content form .btn-delete:hover{
    background-color: #d32f2f; /* Color de fondo del botón al pasar el ratón */
}

/* Animación de aparición */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Animación de deslizamiento */
@keyframes slideIn {
    from { transform: translateY(-50px); }
    to { transform: translateY(0); }
}

/* Estilo para el botón de cerrar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#precioTotalParagraph {
    margin-top: 150px;
}

#restauranteInfo {
    background-color: #fa9302;
    border-radius: 8px; /* Ajusta este valor para redondear más o menos las esquinas */
    padding: 8px; /* Opcional: añade un poco de espacio interior */
    margin-left: 40px;
    margin-right: 40px;
}

#menus li {
    background-color: #fa9302;
    border-radius: 8px; /* Ajusta este valor para redondear más o menos las esquinas */
    padding: 8px; /* Opcional: añade un poco de espacio interior */
    margin-right: 40px;
}

#menus ul li ul li{
    border-bottom: 1px solid #000000; /* Línea debajo de cada plato */
    padding-bottom: 10px; /* Espacio entre el contenido y la línea */
    margin-bottom: 10px; /* Espaciado entre elementos */
}

#menus ul li:last-child {
    border-bottom: none; /* Quitar la línea del último elemento para un aspecto más limpio */
}


/* Estilo para los ítems del carrito */
#carritoItems li {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre el texto y el botón */
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc; /* Línea de separación entre ítems */
}

#carritoItems li:last-child {
    border-bottom: none; /* Quitar la línea del último elemento para un aspecto más limpio */
}

#carritoItems li span {
    flex-grow: 1; /* Esto hace que el texto ocupe todo el espacio disponible a la izquierda */
}

#carritoItems li button {
    background-color: #000000;
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 4px; /* Bordes redondeados */
    padding: 5px 10px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    width: fit-content; /* Ajusta el ancho al contenido */
}


#carritoItems li button:hover {
    background-color: #c82333; /* Fondo rojo oscuro al pasar el ratón */
}

#precioTotalParagraph {
    text-align: right; /* Alinea el texto a la derecha */
    margin-top: 20px; /* Espacio superior */
}