<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Administración del Restaurante</title>
    <link rel="stylesheet" href="/css/homeRestaurante.css">
    <script>
        function openModal(id) {
            document.getElementById(id).style.display = 'block';
        }

        function closeModal(id) {
            document.getElementById(id).style.display = 'none';
        }

        function validarPrecio(event, inputId, errorId) {
            const precioInput = document.getElementById(inputId);
            const precioError = document.getElementById(errorId);
            const precio = parseFloat(precioInput.value);

            if (precio < 0) {
                precioError.style.display = 'block';
                event.preventDefault(); // Evitar que el formulario se envíe
            } else {
                precioError.style.display = 'none';
            }
        }

        function confirmarEliminacion(event) {
            event.preventDefault(); // Evitar el envío del formulario
            const confirmacion = confirm("Esta acción no es reversible, ¿estás seguro?");
            if (confirmacion) {
                event.target.submit(); // Enviar el formulario si se confirma
            }
        }

        function mostrarAlerta(mensaje) {
            alert(mensaje);
        }
    </script>
    <style>
        .menu-item {
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .menu-item h3 {
            margin: 0;
            padding: 0;
        }
        .menu-item ul {
            list-style-type: none;
            padding-left: 20px;
        }
        .menu-item ul li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
        .menu-item ul li div {
            margin-bottom: 5px;
        }
        .menu-item .total {
            text-align: right;
            font-weight: bold;
        }
        .aviso {
            text-align: center;
            margin: 20px 0;
            font-style: italic;
        }
    </style>
</head>

<body>
    <div class="container">
        <header>
            <h1>Administración del Restaurante</h1>
            <nav>
                <form method="post" action="/perform_logout" style="display: inline;">
                    <button type="submit" class="btn-logout">Cerrar Sesión</button>
                </form>
            </nav>
        </header>
        <main>
            <section id="restaurante">
                <h2>Restaurante</h2>
                <th:block th:if="${isRestauranteRegistrado}">
                    <p th:text="'Restaurante: ' + ${restaurante.nombre}"></p>
                    <p th:text="'Dirección: ' + ${restaurante.direccion}"></p>
                    <button onclick="openModal('modalEditarRestaurante')">Editar Restaurante
                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                    </button>
                </th:block>
                <th:block th:unless="${isRestauranteRegistrado}">
                    <p>Actualmente no hay ningún restaurante registrado. Por favor, crea uno para comenzar.</p>
                    <button onclick="openModal('modalCrearRestaurante')">Crear Restaurante
                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                    </button>
                </th:block>
            </section>
            <section id="accionesGenerales">
                <h2>Acciones generales</h2>
                <th:block th:if="${isRestauranteRegistrado}">
                    <!-- Botón para crear un menú -->
                    <button onclick="openModal('modalMenu')">Crear Menú
                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                    </button>
                    <!-- Botón para crear un plato -->
                    <button onclick="openModal('modalPlato')">Crear Plato
                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                    </button>
                    <!-- Botón para editar menús -->
                    <button onclick="openModal('modalEditarMenu')">Editar Menús
                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                    </button>
                    <!-- Botón para editar platos -->
                    <button onclick="openModal('modalEditarPlato')">Editar Platos
                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                    </button>
                </th:block>
            </section>
            <section id="menus">
                <h2>Menús</h2>
                <ul>
                    <!-- Bucle para mostrar cada menú con sus platos -->
                    <th:block th:each="menu : ${menus}">
                        <li class="menu-item">
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <h3 th:text="${menu.nombre}"></h3>
                                <div>
                                    <form method="post" action="/eliminarCartaMenu" style="display: inline;" onsubmit="confirmarEliminacion(event)">
                                        <input type="hidden" name="menuId" th:value="${menu.id}">
                                        <button type="submit" class="btn-delete">Eliminar</button>
                                    </form>
                                    <button onclick="openModal('modalEditarMenu')">Editar</button>
                                </div>
                            </div>
                            <ul>
                                <!-- Bucle para mostrar los platos de cada menú -->
                                <th:block th:each="plato : ${menu.items}">
                                    <li>
                                        <div>
                                            <strong>Nombre:</strong> <span th:text="${plato.nombre}"></span><br>
                                            <strong>Descripción:</strong> <span th:text="${plato.descripcion}"></span><br>
                                            <strong>Precio:</strong> <span th:text="${plato.precio} + ' €'"></span>
                                        </div>
                                    </li>
                                </th:block>
                            </ul>
                            <div class="total">
                                <strong>Precio Total del Menú: </strong>
                                <span th:text="${menu.precioTotal} + ' €'"></span>
                            </div>
                        </li>
                    </th:block>
                </ul>
            </section>
            <section id="platosNoAsignados">
                <h2>Platos No Asignados</h2>
                <p class="aviso">Unicamente pueden ser borrados los platos que no están asignados a un menú. Si estás buscando un plato en concreto, es posible que se encuentre ya asociado a un menú. Elimínelo del menú antes de eliminarlo del sistema.</p>
                <ul>
                    <!-- Bucle para mostrar los platos no asignados a ningún menú -->
                    <th:block th:each="plato : ${platosNoAsignados}">
                        <li>
                            <div>
                                <strong>Nombre:</strong> <span th:text="${plato.nombre}"></span><br>
                                <strong>Descripción:</strong> <span th:text="${plato.descripcion}"></span><br>
                                <strong>Precio:</strong> <span th:text="${plato.precio} + ' €'"></span>
                            </div>
                            <div>
                                <form method="post" action="/eliminarItemMenu" style="display: inline;" onsubmit="confirmarEliminacion(event)">
                                    <input type="hidden" name="platoId" th:value="${plato.id}">
                                    <button type="submit" class="btn-delete">Eliminar</button>
                                </form>
                                <button onclick="openModal('modalEditarPlato')">Editar</button>
                            </div>
                        </li>
                    </th:block>
                </ul>
            </section>
        </main>
        <footer>
            <p>&copy; 2024 Restaurante. Todos los derechos reservados.</p>
        </footer>
    </div>

    <!-- Modal para añadir menú -->
    <div id="modalMenu" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modalMenu')">&times;</span>
            <h2>Añadir Menú</h2>
            <form method="post" action="/crearCartaMenu" onsubmit="mostrarAlerta('Menú creado exitosamente')">
                <label for="nombreMenu">Nombre del Menú:</label>
                <input type="text" id="nombreMenu" name="nombre" required>

                <label for="descripcionMenu">Descripción:</label>
                <input type="text" id="descripcionMenu" name="descripcion" required>

                <h3>Platos disponibles</h3>
                <ul>
                    <th:block th:each="item : ${items}">
                        <li>
                            <input type="checkbox" th:value="${item.id}" name="itemsIds">
                            <span th:text="${item.nombre} + ': ' + ${item.descripcion}"></span>
                        </li>
                    </th:block>
                </ul>
                <button type="submit">Añadir Menú</button>
            </form>
        </div>
    </div>

    <!-- Modal para añadir plato -->
    <div id="modalPlato" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modalPlato')">&times;</span>
            <h2>Añadir Plato</h2>
            <form id="formPlato" method="post" action="/crearItemMenu" onsubmit="validarPrecio(event, 'precioPlato', 'precioError'); mostrarAlerta('Plato creado exitosamente')">
                <label for="nombrePlato">Nombre:</label>
                <input type="text" id="nombrePlato" name="nombre" required>
                <label for="descripcionPlato">Descripción:</label>
                <input type="text" id="descripcionPlato" name="descripcion" required>
                <label for="precioPlato">Precio:</label>
                <input type="number" id="precioPlato" name="precio" step="0.01" required>
                <div id="precioError" class="error-message" style="display: none; color: red;">El precio no puede ser negativo.</div>
                <button type="submit">Crear Plato</button>
            </form>
        </div>
    </div>

    <!-- Modal para editar menú -->
    <div id="modalEditarMenu" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modalEditarMenu')">&times;</span>
            <h2>Editar Menú</h2>
            <form method="post" action="/editarCartaMenu" onsubmit="mostrarAlerta('Menú actualizado exitosamente')">
                <label for="menuSelect">Seleccionar Menú:</label>
                <select id="menuSelect" name="id" required>
                    <option value="" disabled selected>Selecciona un menú</option>
                    <th:block th:each="menu : ${menus}">
                        <option th:value="${menu.id}" th:text="${menu.nombre}"></option>
                    </th:block>
                </select>
                <label for="nombreMenuEdit">Nuevo Nombre del Menú:</label>
                <input type="text" id="nombreMenuEdit" name="nombre" required>
                <label for="descripcionMenuEdit">Nueva Descripción:</label>
                <input type="text" id="descripcionMenuEdit" name="descripcion" required>

                <h3>Platos disponibles</h3>
                <ul>
                    <th:block th:each="item : ${items}">
                        <li>
                            <input type="checkbox" th:value="${item.id}" name="itemsIds">
                            <span th:text="${item.nombre} + ': ' + ${item.descripcion}"></span>
                        </li>
                    </th:block>
                </ul>
                <button type="submit">Actualizar Menú</button>
            </form>
        </div>
    </div>
    
    <!-- Modal para editar plato -->
    <div id="modalEditarPlato" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modalEditarPlato')">&times;</span>
            <h2>Editar Plato</h2>
            <form id="formEditarPlato" method="post" action="/editarItemMenu" onsubmit="validarPrecio(event, 'precioPlatoEdit', 'precioErrorEdit'); mostrarAlerta('Plato actualizado exitosamente')">
                <label for="platoSelect">Seleccionar Plato:</label>
                <select id="platoSelect" name="id" required>
                    <option value="" disabled selected>Selecciona un plato</option>
                    <th:block th:each="plato : ${items}">
                        <option th:value="${plato.id}" th:text="${plato.nombre}"></option>
                    </th:block>
                </select>
                <label for="nombrePlatoEdit">Nuevo Nombre:</label>
                <input type="text" id="nombrePlatoEdit" name="nombre" required>
                <label for="descripcionPlatoEdit">Nueva Descripción:</label>
                <input type="text" id="descripcionPlatoEdit" name="descripcion" required>
                <label for="precioPlatoEdit">Nuevo Precio:</label>
                <input type="number" id="precioPlatoEdit" name="precio" step="0.01" required>
                <div id="precioErrorEdit" class="error-message" style="display: none; color: red;">El precio no puede ser negativo.</div>
                <button type="submit">Actualizar Plato</button>
            </form>
        </div>
    </div>

    <!-- Modal para editar restaurante -->
    <div id="modalEditarRestaurante" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modalEditarRestaurante')">&times;</span>
            <h2>Editar Restaurante</h2>
            <form method="post" action="/crearRestaurante">
                <label for="nombreRestaurante">Nuevo Nombre:</label>
                <input type="text" id="nombreRestaurante" name="nombre" required>
                <label for="direccionRestaurante">Nueva Dirección:</label>
                <input type="text" id="direccionRestaurante" name="direccion" required>
                <button type="submit">Actualizar Restaurante</button>
            </form>
            <form method="post" action="/eliminarNombreDireccionRestaurante" onsubmit="confirmarEliminacion(event)">
                <input type="hidden" name="restauranteId" th:value="${restaurante.id}">
                <button type="submit" class="btn-delete">Eliminar Restaurante</button>
            </form>
        </div>
    </div>

    <!-- Modal para crear restaurante -->
    <div id="modalCrearRestaurante" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modalCrearRestaurante')">&times;</span>
            <h2>Crear Restaurante</h2>
            <form method="post" action="/crearRestaurante">
                <label for="nuevoNombreRestaurante">Nombre:</label>
                <input type="text" id="nuevoNombreRestaurante" name="nombre" required>
                <label for="nuevaDireccionRestaurante">Dirección:</label>
                <input type="text" id="nuevaDireccionRestaurante" name="direccion" required>
                <button type="submit">Crear Restaurante</button>
            </form>
            <form method="post" action="/eliminarRestaurante" onsubmit="confirmarEliminacion(event)">
                <input type="hidden" name="restauranteId" th:value="${restaurante.id}">
                <button type="submit" class="btn-delete">Eliminar Restaurante</button>
            </form>
        </div>
    </div>    
</body>
</html>