<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="home-container">
        <header>
            <h1>Bienvenido a Delivery WIP</h1>
        </header>
        <main>
            <button onclick="location.href='/login'">Iniciar Sesión</button>
        </main>
        <footer>
            <p>&copy; 2024 Delivery. Todos los derechos reservados. Work In Progress</p>
        </footer>
    </div>
</body>
</html>