<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración del Restaurante</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script>
        function openModal(id) {
            document.getElementById(id).style.display = 'block';
        }

        function closeModal(id) {
            document.getElementById(id).style.display = 'none';
        }
    </script>
</head>

<body>
    <div class="container">
        <header>
            <h1>Administración del Restaurante</h1>
            <nav>
                <form method="post" action="/perform_logout" style="display: inline;">
                    <button type="submit" class="btn-logout">Cerrar Sesión</button>
                </form>
            </nav>
        </header>
        <main>
            <section id="menus">
                <h2>Menús</h2>
                <ul>
                    <!-- Bucle para mostrar cada menú con un botón de edición -->
                    <th:block th:each="menu : ${menus}">
                        <li>
                            <span th:text="${menu.nombre}"></span>
                            <button onclick="openModal('modalEditarMenu')">Editar</button>
                        </li>
                    </th:block>
                </ul>
                <th:block th:if="${isRestauranteRegistrado}">
                    <!-- Botón para crear un menú -->
                    <button onclick="openModal('modalCrearMenu')">Crear Menú</button>
                    <!-- Botones para añadir y editar plato -->
                    <button onclick="openModal('modalPlato')">Crear Plato</button>
                    <button onclick="openModal('modalEditarPlato')">Editar Plato</button>
                    <button onclick="openModal('modalEditarMenu')">Editar Menu</button>
                </th:block>
            </section>
            <section id="restaurante">
                <h2>Restaurante</h2>
                <th:block th:if="${isRestauranteRegistrado}">
                    <p th:text="'Restaurante: ' + ${restaurante.nombre}"></p>
                    <p th:text="'Dirección: ' + ${restaurante.direccion}"></p>
                    <button onclick="openModal('modalEditarRestaurante')">Editar Restaurante</button>
                </th:block>
                <th:block th:unless="${isRestauranteRegistrado}">
                    <p>Actualmente no hay ningún restaurante registrado. Por favor, crea uno para comenzar.</p>
                    <button onclick="openModal('modalCrearRestaurante')">Crear Restaurante</button>
                </th:block>
            </section>
        </main>
        <footer>
            <p>&copy; 2024 Restaurante WIP. Todos los derechos reservados.</p>
        </footer>
    </div>

    <!-- Modal para añadir menú -->
    <div id="modalCrearMenu" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modalCrearMenu')">&times;</span>
            <h2>Crear Menú</h2>
            <form method="post" action="/crearCartaMenu">
                <label for="nombreMenu">Nombre del Menú:</label>
                <input type="text" id="nombreMenu" name="nombre" required>
                <label for="descripcionMenu">Descripción:</label>
                <input type="text" id="descripcionMenu" name="descripcion" required>
                <h3>Platos disponibles</h3>
                <ul>
                    <th:block th:each="item : ${items}">
                        <li>
                            <input type="checkbox" th:value="${item.id}" name="itemsIds">
                            <span th:text="${item.nombre} + ': ' + ${item.descripcion}"></span>
                        </li>
                    </th:block>
                </ul>
                <button type="submit">Crear Menú</button>
            </form>
        </div>
    </div>

    <!-- Modal para editar menú -->
    <div id="modalEditarMenu" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modalEditarMenu')">&times;</span>
            <h2>Editar Menú</h2>
            <form method="post" action="/editarCartaMenu">
                <label for="menuSelect">Seleccionar Menú:</label>
                <select id="menuSelect" name="id" required>
                    <option value="" disabled selected>Selecciona un menú</option>
                    <th:block th:each="menu : ${menus}">
                        <option th:value="${menu.id}" th:text="${menu.nombre}"></option>
                    </th:block>
                </select>
                <label for="nombreMenuEdit">Nuevo Nombre del Menú:</label>
                <input type="text" id="nombreMenuEdit" name="nombre" required>
                <label for="descripcionMenuEdit">Nueva Descripción:</label>
                <input type="text" id="descripcionMenuEdit" name="descripcion" required>
                <h3>Platos disponibles</h3>
                <ul>
                    <th:block th:each="item : ${items}">
                        <li>
                            <input type="checkbox" th:value="${item.id}" name="itemsIds">
                            <span th:text="${item.nombre} + ': ' + ${item.descripcion}"></span>
                        </li>
                    </th:block>
                </ul>
                <button type="submit">Actualizar Menú</button>
            </form>
            <form method="post" action="/eliminarCartaMenu">
                <input type="hidden" name="menuId" th:value="${menu?.id}">
                <button type="submit" class="btn-delete">Eliminar Menú</button>
            </form>
        </div>
    </div>

    <!-- Modal para añadir plato -->
    <div id="modalPlato" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modalPlato')">&times;</span>
            <h2>Añadir Plato</h2>
            <form method="post" action="/crearPlato">
                <label for="nombrePlato">Nombre del Plato:</label>
                <input type="text" id="nombrePlato" name="nombre" required>
                <label for="descripcionPlato">Descripción:</label>
                <input type="text" id="descripcionPlato" name="descripcion" required>
                <button type="submit">Añadir Plato</button>
            </form>
        </div>
    </div>

    <!-- Modal para editar plato -->
    <div id="modalEditarPlato" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modalEditarPlato')">&times;</span>
            <h2>Editar Plato</h2>
            <form method="post" action="/editarPlato">
                <label for="platoSelect">Seleccionar Plato:</label>
                <select id="platoSelect" name="id" required>
                    <option value="" disabled selected>Selecciona un plato</option>
                    <th:block th:each="item : ${items}">
                        <option th:value="${item.id}" th:text="${item.nombre}"></option>
                    </th:block>
                </select>
                <label for="nombrePlatoEdit">Nuevo Nombre del Plato:</label>
                <input type="text" id="nombrePlatoEdit" name="nombre" required>
                <label for="descripcionPlatoEdit">Nueva Descripción:</label>
                <input type="text" id="descripcionPlatoEdit" name="descripcion" required>
                <button type="submit">Actualizar Plato</button>
            </form>
            <form method="post" action="/eliminarPlato">
                <input type="hidden" name="platoId" th:value="${plato?.id}">
                <button type="submit" class="btn-delete">Eliminar Plato</button>
            </form>
        </div>
    </div>

    <!-- Modal para editar restaurante -->
    <div id="modalEditarRestaurante" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modalEditarRestaurante')">&times;</span>
            <h2>Editar Restaurante</h2>
            <form method="post" action="/editarRestaurante">
                <label for="nombreRestauranteEdit">Nombre:</label>
                <input type="text" id="nombreRestauranteEdit" name="nombre" required>
                <label for="direccionRestauranteEdit">Dirección:</label>
                <input type="text" id="direccionRestauranteEdit" name="direccion" required>
                <button type="submit">Actualizar Restaurante</button>
            </form>
            <form method="post" action="/eliminarRestaurante">
                <input type="hidden" name="restauranteId" th:value="${restaurante.id}">
                <button type="submit" class="btn-delete">Eliminar Restaurante</button>
            </form>
        </div>
    </div>

    <!-- Modal para crear restaurante -->
    <div id="modalCrearRestaurante" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modalCrearRestaurante')">&times;</span>
            <h2>Crear Restaurante</h2>
            <form method="post" action="/crearRestaurante">
                <label for="nombreRestaurante">Nombre:</label>
                <input type="text" id="nombreRestaurante" name="nombre" required>
                <label for="direccionRestaurante">Dirección:</label>
                <input type="text" id="direccionRestaurante" name="direccion" required>
                <button type="submit">Crear Restaurante</button>
            </form>
        </div>
    </div>
</body>
</html>