<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Pago</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/pago.css}">
</head>

<body>
    <button onclick="goBack()" class="btn-volver">Volver</button>
    <div class="container">
        <main>
            <h1>Confirmar Pedido</h1>
            <form id="formPago">
                <section>
                    <label for="calle">Calle:</label>
                    <input type="text" id="calle" name="calle" required>

                    <label for="ciudad">Ciudad:</label>
                    <input type="text" id="ciudad" name="ciudad" required>

                    <label for="codigoPostal">Código Postal:</label>
                    <input type="text" id="codigoPostal" name="codigoPostal" required>
                </section>
                <section>
                    <h3>Método de Pago</h3>
                    <label id="ancho-reducido">
                        <input type="radio" name="metodoPago" value="PAYPAL" required> PayPal
                    </label>
                    <label id="ancho-reducido">
                        <input type="radio" name="metodoPago" value="CREDIT_CARD" required> Tarjeta
                    </label>
                </section>
                <section id="paypalInfo" style="display: none;">
                    <h3>Información de PayPal</h3>
                    <label for="paypalEmail">Correo Electrónico:</label>
                    <input type="email" id="paypalEmail" name="paypalEmail">
                    <label for="paypalPassword">Contraseña:</label>
                    <input type="password" id="paypalPassword" name="paypalPassword">
                </section>
                <section id="creditCardInfo" style="display: none;">
                    <h3>Información de Tarjeta</h3>
                    <label for="cardName">Nombre y Apellidos:</label>
                    <input type="text" id="cardName" name="cardName">
                    <label for="cardNumber">Número de Tarjeta:</label>
                    <input type="text" id="cardNumber" name="cardNumber">
                    <label for="cardCSV">CSV:</label>
                    <input type="text" id="cardCSV" name="cardCSV">
                </section>
                <button type="button" onclick="confirmarPedido()">Realizar Pedido</button>
            </form>
        </main>
    </div>

    <script>
        document.querySelectorAll('input[name="metodoPago"]').forEach((input) => {
            input.addEventListener('change', function () {
                if (this.value === 'PAYPAL') {
                    document.getElementById('paypalInfo').style.display = 'block';
                    document.getElementById('creditCardInfo').style.display = 'none';
                } else if (this.value === 'CREDIT_CARD') {
                    document.getElementById('paypalInfo').style.display = 'none';
                    document.getElementById('creditCardInfo').style.display = 'block';
                }
            });
        });

        // Función para regresar a la página anterior
        function goBack() {
            window.history.back();
        }

        function confirmarPedido() {
            const calle = document.getElementById('calle').value;
            const ciudad = document.getElementById('ciudad').value;
            const codigoPostal = document.getElementById('codigoPostal').value;
            const metodoPago = document.querySelector('input[name="metodoPago"]:checked').value;

            let pagoInfo = {};
            if (metodoPago === 'PAYPAL') {
                pagoInfo = {
                    email: document.getElementById('paypalEmail').value,
                    password: document.getElementById('paypalPassword').value
                };
            } else if (metodoPago === 'CREDIT_CARD') {
                pagoInfo = {
                    name: document.getElementById('cardName').value,
                    number: document.getElementById('cardNumber').value,
                    csv: document.getElementById('cardCSV').value
                };
            }

            if (calle && ciudad && codigoPostal && metodoPago && Object.values(pagoInfo).every(value => value)) {
                fetch('/confirmar_pedido', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ direccion: { calle, ciudad, codigoPostal }, metodoPago, pagoInfo })
                })
                    .then(response => {
                        if (response.ok) {
                            alert("Pedido realizado con éxito!");
                            window.location.href = "/homeCliente";
                        } else {
                            alert("Error al realizar el pedido. Intente nuevamente.");
                        }
                    })
                    .catch(error => console.error("Error en la confirmación del pedido:", error));
            } else {
                alert("Por favor, complete todos los campos requeridos.");
            }
        }
    </script>
</body>

</html>